<div class="container mt-5">
  <app-user-contact-form *ngIf="isFormVisible"
    [contact]="selectedContact"
    (formSubmit)="handleFormSubmit($event)"
  ></app-user-contact-form>

  <div *ngIf="isFormVisible== false">
    <div class="d-flex mb-3">
      <button class="btn btn-success" (click)="onNewContact()">New</button>
    </div>
  <div class="mb-3" >
    <input
      type="text"
      class="form-control"
      placeholder="Search contacts..."
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchChange($event)"
    />
  </div>
  <table class="table table-hover" >
    <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of ConstactList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ contact.firstName }}</td>
        <td>{{ contact.lastName }}</td>
        <td>{{ contact.email }}</td>
        <td>
          <button
            class="btn btn-primary btn-sm me-2"
            (click)="editContact(contact)"
          >
            Edit
          </button>
          <button
            class="btn btn-danger btn-sm"
            (click)="deleteContact(contact.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
