.custom-modal-bg {
    background-color: #f0f8ff; /* Example: light blue */
    border-radius: 8px; /* Optional: add rounded corners */
    padding: 20px; /* Optional: add padding inside the modal */
  }
  

@import '~bootstrap/dist/css/bootstrap.min.css';

